
#title{
	font-size: 20px;
}

#divw{
	background-color:  green;
	color: red;
	color:  white;
	width: 200px;
	height: 100px;
}

.chnageColor{
	width: 200px;
	height: 100px;
	background: linear-gradient(red,yellow);
}
